body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat Alternates', sans-serif;
}

p {
  font-size: 16px;
}

/* logo styles */
.logo  {
 max-width: 80px;
 padding: 15px;
}

  /* Hero styles */
.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 700px;
  align-content: center;
  justify-content: center;
}

.hero-img-box {
  grid-area: 1/1/2/2;
}

.hero-img {
  display: grid;
  min-width: 350px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-shadow-text {
  display: grid;
  grid-area: 1/1/2/2;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.hero-content {
  display: grid;
  grid-area: 1/1/2/2;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.hero-text {
}

.hero-h1 {
  font-size: 6rem;
  letter-spacing: 0.1em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
}

.hero-h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  padding: 70px 0px 0px 30px;
}

.hero-body {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 1rem;
  padding-left: 45px;
}



  /*current navigation - in progress */
.top-nav {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}


ul,
li {
  list-style: none;
  display: inline;
  overflow: hidden;
}
li {
  padding: 50px;
}

a {
  text-decoration: none;
}

.hamburger {
  display: block;
  z-index: 1;
  width: 38px;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: #371a7a;
  border-radius: 4px;
}
.img-home {
  width: 200px; /*PLACEHOLDER*/
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  p {
    font-size: 20px;
  }
  a:hover {
    font-weight: 700;
    color: #371a7a;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

/* Tablet  @media for Hero */
  @media (min-width: 768px) {
  .hero-h1 {
    font-size: 9rem;
    letter-spacing: 0.1em;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
  }

  .hero-h2 {
    font-size: 4.5rem;
    font-weight: 700;
    color: #ffffff;
    position: relative;
    padding: 110px 0px 0px 30px;
  }

  .hero-body {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 1.5em;
    padding-left: 45px;
  }

/* Desktop  @media for Hero */
@media (min-width: 992px) {
  .hero-h1 {
    font-size: 10rem;
    letter-spacing: 0.1em;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
  }

  .hero-h2 {
    font-size: 5rem;
    font-weight: 700;
    color: #ffffff;
    position: relative;
    padding: 125px 0px 0px 30px;
  }

  .hero-body {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 2em;
    padding-left: 45px;
  }
}
